
<html>
<head>
	<style type="text/css">

		#hour {
			border: 1px solid black;
		}

		#number {
			border: 1px solid black;
		}

	</style>

<title>Grid using d3.js</title>
<script type="text/javascript" src="http://mbostock.github.com/d3/d3.v2.js"></script>
<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
</head>
<body>

<div id="chart"></div>
Scooter Number
<div id="number"></div>
<br>
Hour
<div id="hour"></div>

<script>

    var scooters = [
	   {
	    "id":5,
	    "dataset": [ 0,0,1,0,1,1,1,1,0,0,0,0,1,1,1,0,0,0,1,1,1,1,1,1 ]
	   }, {
	    "id":42,
	    "dataset": [ 1,1,1,0,1,1,0,0,0,0,0,0,1,1,1,0,0,1,1,0,0,1,0,1 ]
	   }, {
	    "id":43,
	    "dataset": [ 1,1,1,0,1,1,0,0,0,0,0,0,1,1,1,0,0,1,1,0,0,1,0,1 ]
	   }, {
	    "id":44,
	    "dataset": [ 1,0,1,0,1,1,0,0,0,0,0,0,1,1,1,0,0,1,1,0,0,1,0,1 ]
	   }, {
	    "id":45,
	    "dataset": [ 1,0,0,0,1,1,0,0,0,0,0,0,1,1,1,0,0,1,1,0,0,1,0,1 ]
	   }, {
	    "id":46,
	    "dataset": [ 1,1,1,0,1,1,0,0,0,0,0,0,1,1,1,0,0,1,1,0,0,1,0,1 ]
	   }, {
	    "id":47,
	    "dataset": [ 1,1,1,0,1,1,0,0,0,0,0,0,1,1,1,0,0,1,1,0,0,1,0,1 ]
	   }, {
	    "id":48,
	    "dataset": [ 1,1,1,0,0,0,0,0,0,0,0,1,1,1,0,0,1,1,0,0,1,0,1,1,1 ]
	   }, {
	    "id":49,
	    "dataset": [ 1,1,1,0,1,1,0,0,1,1,0,0,1,1,1,0,0,1,1,0,0,1,0,1 ]
	   }, {
	    "id":50,
	    "dataset": [ 1,1,1,0,1,1,0,0,0,0,0,0,1,1,1,0,0,1,1,0,0,1,1,0 ]
	   }, {
	    "id":51,
	    "dataset": [ 1,0,1,0,1,1,1,1,1,1,1,0,1,1,1,0,0,0,0,1,0,0,0,0,0 ]
	   }];


function usageMap(id, width, height, data)
{
    var availData = matrixData(width, height, data);
    var grid = d3.select(id).append("svg")
                    .attr("width", width)
                    .attr("height", height)
                    .attr("class", "chart");

    var row = grid.selectAll(".row")
                  .data(availData)
                .enter().append("svg:g")
                  .attr("class", "row");

    var col = row.selectAll(".cell")
                 .data(function (d) { return d; })
                .enter().append("svg:rect")
                 .attr("class", "cell")
                 .attr("x", function(d) { return d.x; })
                 .attr("y", function(d) { return d.y; })
                 .attr("width", function(d) { return d.width; })
                 .attr("height", function(d) { return d.height; })
                 .style("fill", function(d) {
                 	if (d.value === 1) {
                 		return "black";
                 	} else if (d.value === 0) {
                 		return "yellow"
                 	} else return "blue";
                 })
                 .on('mouseover', function(d) {
                 	$("#number").text(d.id);
                 	$("#hour").text(d.time);
                 	d3.select(this).style("fill", "green");
                 })
                 .on('mouseout', function() {
                 	d3.select(this)
                 	.style("fill", function(d) {
	                 	if (d.value === 1) {
	                 		return "black";
	                 	} else if (d.value === 0) {
	                 		return "yellow"
	                 	} else return "blue";
	                 })
                 })
                 .on('click', function() {
                 });
}




function matrixData(width, height, scooters)
{
    var data = [];
    var gridItemWidth = 30;
    var gridItemHeight = 30;
    var startX = 5;
    var startY = 5;
    var stepX = gridItemWidth;
    var stepY = gridItemHeight;
    var xpos = startX;
    var ypos = startY;

	console.log(scooters);

	for (var numScooter = 0; numScooter < scooters.length; numScooter++){
		data.push([]);

		for (var hour = 0; hour < 24; hour++) //iterating through hours in the day
        {
        	scootId = scooters[numScooter].id;
            avail = scooters[numScooter].dataset[hour];
            console.log(avail);
            data[numScooter].push({ 
            					width: gridItemWidth,
            					height: gridItemHeight,
            					id: scootId,
                                time: hour, 
                                value: avail,
                                x: xpos,
                                y: ypos
                            });
            xpos += stepX;
        }
        xpos = startX;
        ypos += stepY;
    }
    return data;
}


</script>
<script type="text/javascript">
    usageMap('#chart', 1000, 400, scooters);
</script>
</body>
</html>